<!-- views/index.ejs -->
<!doctype html>
<html>
<head>
    <title>Mini Github</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> <!-- load bulma css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:70px; }
    </style>
    <script>
        setTimeout(()=>location.replace("http://localhost:2400/success"),3000)
    </script>
</head>
<body>
<div class="container">
    <div class="jumbotron text-center text-primary">
        <h1><span class="fa fa-github"></span>Mini Github</h1>
        <h3>Repo Added Succesfully</h3>
        <p>Redirecting...</p>
    </div>
</div>
</body>
</html> 